<div class="jumbotron text-center">
<div class="card">
  <img src="../images/microsoft.jpg" alt="microsft" style="width:100%;height:250px">
    <div class="container">
      <h4><b>Microsoft</b></h4>
    </div>
</div>
<div class="card">
 <img src="../images/Google.jpg" alt="microsft" style="width:100%;height:250px">
  <div class="container">
      <h4><b>Google</b></h4>
    </div>
  </div>     
<div class="card">
 <img src="../images/Accenture.jpg" alt="microsft" style="width:100%;height:250px">
    <div class="container">
        <h4><b>Accenture</b></h4>
      </div>
</div>
    <div class="card">
    <img src="../images/amazon.jpg" alt="microsft" style="width:100%;height:250px">     
      <div class="container">
        <h4><b>Amazon</b></h4>
      </div>
    </div>
    <div class="card"> 
   <img src="../images/tcs.jpg" alt="microsft" style="width:100%;height:250px">          
      <div class="container">
        <h4><b>TCS</b></h4>
      </div>
    </div>  
      <div class="card">
      <img src="../images/infosys.jpg" alt="microsft" style="width:100%;height:250px">      
      <div class="container">
        <h4><b>Infosys</b></h4>
      </div>
    </div>
      <div class="card">
     <img src="../images/lnt.jpg" alt="microsft" style="width:100%;height:250px">    
      <div class="container">
        <h4><b>LnT</b></h4>
      </div>
    </div>
      <div class="card">
     <img src="../images/capgemini.jpg" alt="microsft" style="width:100%;height:250px">    
      <div class="container">
        <h4><b>Capgemini</b></h4>
      </div>
    </div>
      <div class="card">
   <img src="../images/wipro.jpg" alt="microsft" style="width:100%;height:250px">
      <div class="container">
        <h4><b>Wipro</b></h4>
      </div>
    </div>
      <div class="card">
   <img src="../images/ibm.jpg" alt="microsft" style="width:100%;height:250px">
      <div class="container">
        <h4><b>IBM</b></h4>
      </div>
    </div>
      <div class="card">
   <img src="../images/qualcomm.jpg" alt="microsft" style="width:100%;height:250px">
      <div class="container">
        <h4><b>Qualcomm</b></h4>
      </div>
    </div>
    <div class="card">
    <img src="../images/deloitte.jpg" alt="microsft" style="width:100%;height:250px">
      <div class="container">
         <h4><b>Deloitte</b></h4>
        </div>
     </div>
          
  </div>
