<div class="jumbotron text-center">
<html>
<body>
    
    <h2>Responsive Form</h2>
    <!-- <p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p> -->
    
        <div class="containerone">
        <form action="/action_page.php">
        <div class="row">
            <div class="col-25">
            <label for="fname">First Name</label>
            </div>
            <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
               <label for="gender">Gender</label>
            </div>
            
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label><br>
        </div>
        <div class="row">
                <div class="col-25">
                    <label for="birthday">Birthday:</label>
                </div> 
                <div class="col-75">   
                    <input type="date" id="birthday" name="birthday">
                </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label for="country">Country</label>
            </div>
            <div class="col-75">
            <select id="country" name="country">
                <option value="india">India</option>
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>
            </div>
        </div>
        <div class="row">
                <div class="col-25">
                <label for="Graduation">Graduation</label>
                </div>
                <div class="col-75">
                <select id="Graduation" name="Graduation">
                    <option value="BTech">BTech</option>
                    <option value="Bsc">Bsc</option>
                    <option value="Bcom">Bcom</option>
                </select>
                </div>
        </div>
        <div class="row">
                <div class="col-25">
                <label for="cname">College Name</label>
                </div>
                <div class="col-75">
                <input type="text" id="cname" name="collegename" placeholder="Your college name..">
                </div>
        </div>
        <div class="row">
                <div class="col-25">
                    <label for="passyear">Passing Year</label>
                </div>
                <div class="col-75">
                        <input type="text" id="passyear" name="passyear" placeholder="Your passing year..">
                    
                </div>
        </div> 
        
        <div class="row">
                <div class="col-25">
                   <label for="skills">Skills</label>
                </div>
                
                    <input type="checkbox" id="java" name="java" value="JAVA">
                    <label for="java">Java</label>
                    <input type="checkbox" id="cpp" name="cpp" value="CPP">
                    <label for="cpp">Cpp</label>
                    <input type="checkbox" id="sql" name="sql" value="SQL">
                    <label for="sql">SQL</label>
                    <input type="checkbox" id="csharp" name="csharp" value="CSHARP">
                    <label for="csharp">Csharp</label>
                    <input type="checkbox" id="angular" name="angular" value="ANGULAR">
                    <label for="angular">Angular</label><br>
            </div>
    
        <div class="row">
            <div class="col-25">
            <label for="subject">Address</label>
            </div>
            <div class="col-75">
            <textarea id="subject" name="subject" placeholder="your address.." style="height:150px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
            <input type="reset">
        </div>
        </form>
        </div>
    
    </body>
    </html>
</div>
    